:root {
    --gap: 3rem;
    --primary-color: #330033;
    --light-gray-color: #EEE;
    --secondary-color: crimson;
    --white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

html {
    font-size: 62.5%;
    /* porcentagem padrao para a utilizacao da unidade de medida (rem), ex: 1.6rem = 16px. */
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background: white;
    color: var(--primary-color);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 5.5rem;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

p {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.mainbg {
    background-image: url('../../../landingPageCursoJs/assets/img/mainbg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white)
}

.whitebg {
    background: var(--white);
    color: var(--primary-color)
}

/* essa classe sustenta o conteudo. */
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem var(--gap);
}

.section-viewport {
    min-height: 100vh;
}

.menu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-spacing {
    height: 65px;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

}

a {
    text-decoration: none;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}


.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.home-content {
    position: relative;
    top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.home-content-contact {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.home-text-content .home-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-text-content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-img img {
    max-width: 100%;
    height: auto;
}

.intro-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.top-3-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    margin-top: -10rem;
}

.top-3-main-heading {
    margin-bottom: 1rem;
}

.top-3-description {
    padding-bottom: 5rem;
}

.top-3 {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: top-3-counter;
}

.top-3 h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2.5rem;
}

.top-3 h3::before {
    counter-increment: top-3-counter;
    content: counter(top-3-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -4rem;
    left: -1rem;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    max-width: 25rem;
    max-height: 25rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) rotate(5deg) scale(1.2);
}

.gallery-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 10rem var(--gap);
}

.gallery-main-heading {
    margin-bottom: 1rem;
}

.gallery-description {
    padding-bottom: 5rem;
}

.gallery {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.responsive-table {
    overflow-y: auto;
    overflow-x: auto;
}

table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

tfoot td,
table th {
    background: var(--light-gray-color);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    background: var(--white);
    font-size: 3rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 5px var(--secondary-color);
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid var(--white);
    background: none;
    color: var(--white);
    padding: 1.5 rem 2 rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: lightgray
}

.footer {
    text-align: center;
}

.footer a {
    color: #444;
}

.footer p {
    margin-bottom: 0;
    padding: 3rem;
}


.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white);
    color: var(--primary-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: 0.1rem solid var(--primary-color);
}

@media (max-width: 800px) {

    .home-content,
    .top-3,
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .top-3-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    
    .menu-content {
        height: 100vh;
    }

    .menu{
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--white);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 50%;
        border: 0.1rem solid var(--primary-color);
    }

    .close-menu:checked~.menu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
}